@use '../../scss/variables.scss' as var;


.header {
  display: flex;
  margin-bottom: 3rem;
  width: 1394px;
  overflow: hidden;
  border-bottom: 1px solid #ebeef4;
  align-items: center;
  gap: 4rem;
  .title {
    p {
      text-transform: uppercase;
      font-size: 30px;
      font-weight: 500;
      color: var.$white;
      position: relative;
      top: -10px;
      
    }
  }
}
