@use "./variables.scss" as vars;

:root {
  --bg-color: #{vars.$white};
  --text-color: #{vars.$black};
  --secondary-text-color: #{vars.$accent};
  --gray: #{vars.$gray};
  --offwhite: #{vars.$offwhite};
  --borderColor: #ebeef4;
}

[data-theme="dark"] {
  --bg-color: #{vars.$black};
  --text-color: #{vars.$white};
  --secondary-text-color: #{vars.$accent};
  --gray: #{vars.$gray};
  --offwhite: #{vars.$offwhite};
  --borderColor: #ebeef4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-optical-sizing: auto;
}

body {
  font-family: var(--font-oswald), sans-serif;
}

.layout {
  background-color: var(--bg-color);
  padding: 0rem 7rem;
  display: flex;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
  color: var(--text-color);
  overflow-y: auto;
  overflow-x: hidden;
  .side {
    width: 300px;
    height: calc(100vh - 6rem);
    position: fixed;
    top: 3rem;
  }
}

.page {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 300px);
  margin-left: auto;

  .main {
    width: 100%;
    margin-left: auto;
    height: fit-content;
    padding-bottom: 2rem;
    position: relative;
  }
}
