@use "./theme.scss" as theme;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
}

.layout {
  background-color: theme(--bg-color);
  padding: 0rem 7rem;
  display: flex;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
  color: theme(--text-color);
  overflow-y: auto;
  overflow-x: hidden;
  .side {
    width: 300px;
    height: calc(100vh - 6rem);
    position: fixed;
    top: 3rem;
  }
}

.page {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 300px);
  margin-left: auto;

  .main {
    width: 100%;
    margin-left: auto;
    height: fit-content;
    padding-bottom: 2rem;
    position: relative;
    
  }
  
}
