@import './variables';

@mixin overlay() {
	justify-content: center;
	align-items: center;
	display: flex;
	overflow-x: hidden;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 99999;
	outline: none;
	background-color: #afadad52;
  backdrop-filter: blur(3px);
  transition: all 200ms ease-in-out;
}

@mixin modal() {
	position: fixed;
	width: 30%;
	max-width: 450px;
	min-width: 450px;
	border-radius: 12px;
	background-color: white;
	color: rgb(36, 35, 35);
	transition: 300ms ease-in-out;
	opacity: 1;
	height: fit-content;
}

@mixin custom-scrollbar($width: 10px, $track-color: #F3F5F9, $thumb-color: #F3F5F9, $thumb-hover: #555) {
	/* Webkit browsers */
	::-webkit-scrollbar {
	  width: $width;
	}
  
	::-webkit-scrollbar-track {
	  background: $track-color;
	  border-radius: 10px;
	}
  
	::-webkit-scrollbar-thumb {
	  background: $thumb-color;
	  border-radius: 10px;
	}
  
	::-webkit-scrollbar-thumb:hover {
	  background: $thumb-hover;
	}
  
	/* Firefox */
	scrollbar-width: thin;
	scrollbar-color: $thumb-color $track-color;
  }