.percentageBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    width: 100%;
    padding: 0 5px;
    .barBackground {
        background-color: lightgray;
        height: 3px;
        width: 100%;
    }
    .bar {
        height: 3px;
        width: 100%;
        border-radius: 12px;
    }
}