.trendingPlayerCard {
  display: flex;
  align-items: center;
  position: relative;
  height: 59px;
  .playerInfo {
    display: flex;
    align-items: center;
    gap: 15px;
    min-width: 250px;
    margin-right: 1rem;
    .imageContainer {
      background-color: #f3f5f9;
      width: 40px;
      height: 40px;
      border-radius: 22px;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      .playerHeadshot {
        max-width: 52px;
        object-fit: contain;
      }
    }

    .flexCol {
      display: flex;
      flex-direction: column;
      font-weight: 500;
      .playerName {
        font-size: 14px;
        font-weight: 600;
      }
      .flex {
        display: flex;
        gap: 5px;
        font-size: 12px;
     
      }
    }
  }

  .values {
    display: flex;
    white-space: nowrap;
    width: 100%;
    height: 100%;
    .value {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 80px;
      height: 100%;
      font-weight: 500;
      font-size: 13px;
      flex-direction: column;

      span {
        font-size: 12px;
      }

      .over,
      .lowRank
      {
        color: #1F845A;
      }

      .under,
      .highRank 
       {
        color: #C9372C;
      }
      
      &:nth-of-type(1) {
        border-right: 1px solid #EBEEF4;
        padding-right: 1rem;
      }
      &:nth-of-type(3),
      &:nth-of-type(4) {
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &:nth-of-type(4) {
        padding: 0;
        border-right: 1px solid #EBEEF4;
        padding-right: 1rem;
      }
      &:nth-of-type(5) {
        width: 100px;
      }

      .goodRating,
      .averageRating,
      .weakRating {
        color: #155724;
        background-color: #d4edda;
        border-color: #c3e6cb;
        padding: 3px 6px;
        border-radius: 4px;
        font-size: 12px;
        width: 65px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .averageRating {
        color: #856404;
        background-color: #fff3cd;
        border-color: #ffeeba;
      }

      .weakRating {
        color: #721c24;
        background-color: #f8d7da;
        border-color: #f5c6cb;
      }
    
    
    
    }
    .above60 {
      background-color: #d4edda;
    }
    .between50And60 {
      background-color: #eeeeee;
    }
    .below50 {
      background-color: #f8d7da;
    }
    .pick {
      width: 90px;
      font-size: 13px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 500;
      gap: 3px;
      padding-left: 3rem;
      span {
        font-size: 12px;
      }
    }
    .analyze {
      width: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-left: 3rem;
      button {
        all: unset;
        border: 1px solid #c7c8c9;
        width: 25px;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        svg {
          cursor: pointer;
          
        }
      }
    }
  }
}
