.labels {
    display: flex;
    gap: 1rem;
    font-size: 14px;
    p {
        width: 100px;
    }
}

.stats-list {
    display: flex;
    gap: 1rem;
    font-size: 14px;
    .stats {
        width: 100px;
        background: lightgray;

    }
}
