.navbar {
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #EBEEF4;
    .navbarContent {
        width: 1394px;
        display: flex;
        align-items: center;
        padding: 0 1rem;
        gap: 2rem;
        .logo {
            font-weight: 500;
            font-size: 22px;
        }
        .links {
            list-style: none;
            display: flex;
            align-items: center;
            gap: 1rem;
            font-weight: 600;
            font-size: 14px;
        }
    }
}