@use "../../scss/variables.scss" as var;

/**
  1 = Player
  2 = Prop
  3 = Proj
  4 = Diff
  5 = Rating
  6 = Opp Rank
  7 = L-3
  8 = L-5
  9 = L=15
  10 = Season
  11 = Pick
**/

.labels {
  display: flex;
  width: 100%;
  margin-bottom: 2rem;
  gap: 1rem;
  font-family: var(--font-roboto), sans-serif !important;

  .label {
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
    gap: 3px;
    color: var(--text-color);

    svg {
      cursor: pointer;
    }
    &:nth-of-type(1) {
      width: 240px;
      justify-content: flex-start;
      margin-right: 1.5rem;
    }

  
    
    &:nth-of-type(2),
    &:nth-of-type(5) {
      padding-right: 1rem;
    }
    &:nth-of-type(2),
    &:nth-of-type(3),
    &:nth-of-type(4),
    &:nth-of-type(7),
    &:nth-of-type(8),
    &:nth-of-type(10),
    &:nth-of-type(9) {
      width: 80px;
    }


    &:nth-of-type(5),
    &:nth-of-type(6),
    &:nth-of-type(11) {
      width: 100px;
    }
    &:nth-of-type(11) {
      margin-left: 2rem;
      width: 75px;
    }

    &:nth-of-type(12) {
      width: 80px;
      padding-left: 15px;
    }
  }
}
