.button {
    padding: .65rem 1.1rem;
    font-weight: 600;
    line-height: 1.2;
    transition: all .25s ease-in-out;
    border: solid .1rem transparent;
    border-radius: .4rem;
    cursor: pointer;
    font-size: 12px;
    
}