@use "@/app/scss/variables" as vars;
@use "@/app/scss/breakpoints" as break;
@use "sass:color";

.tab-chip,
.active,
.inactive {
  border: 1px solid vars.$border-color;
  border-radius: 22px;
  padding: 0px 20px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: white;
  min-width: fit-content;
  &:hover {
    background: color.adjust(#fff, $lightness: -3%, $space: hsl);
  }

  @include break.breakpoint(xs) {
    padding: 0 15px;
    height: 75%;
    font-size: 13px;
  }
}

.active {
  background-color: #e9f1fc;
  border-color: #0769de;
  color: #0769de;
  &:hover {
    background: color.adjust(#e9f1fc, $lightness: -2%, $space: hsl);
  }
}
